/* app/app.scss */
:root {
    --transparent: transparent;
    --current: currentColor;
    --white: #ffffff;
    --deep-dark-bg: #0D0D13;
    --dark: #1B1B25;
    --text-1: #8A8AAB;
    --dark-grey: #2d2d39;
    --main-purple: #9122FF;
    --main-dark-purple: #6600cc;
    --card-gray: rgba(235, 245, 255, 0.5);
    --card-grey: rgba(235, 245, 255, 0.8);
  }

  body {
    color: white;
  }